table {
    border-collapse:separate;
    border-spacing: 4px;
}

.style0{
    background-color: black;
    height: 30px;
    width: 30px;
}

.style1{
    background-color: red;
    height: 30px;
    width: 30px;
}