@font-face {
  font-family: Games;
  src: url("fonts/Games.ttf");
}
@font-face {
  font-family: VIDEOPHREAK;
  src: url("fonts/VIDEOPHREAK.ttf");
}
@font-face {
  font-family: Pixel-Miners;
  src: url("fonts/Pixel-Miners.otf");
}
body{
  font-family: Games;
  color: white;
  background-color: black;
  width: 450px;
  margin: auto;
  text-transform: capitalize;
  text-align: center;
}

h2 {
  text-align: center;
  color: cyan;
  font-size: 40px;
  margin-bottom: 20px;
}
h2:first-of-type {
  margin-top: 20px;
}

table {
  margin: auto; 
}

p {
  color: rgb(230, 4, 4);
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

td {
  padding-right: 15px;
}

#hard {
  margin-bottom: 150px;
}

footer a{
  color: rgb(230, 4, 4);
  font-size: 30px;
  text-decoration: none;
  text-align: center; 
  
}
footer a:hover{
  color: cyan;
}